<h1>Edit Form</h1>

<%= error_messages_for(@user) %>

<%= form_with model: @user do |form| %>
  <h3>Form 3</h3>

  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit %>


<% end %>
